REGIONE="Lombardia"
# Fonte dati: "csv" oppure "html"
DATA_SOURCE=csv

# se html scegliere l'indice della regione dalla pagina html
TABELLA_REGIONE=8


# env example file for carb_notifier project
EMAIL_SENDER=email@example.com
EMAIL_RECIPIENT=recipient@example.com
EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_PASSWORD=your_email_app_password

# Opzionale: scrivere anche su file di log
LOG_FILE=carb_notifier.log